# Querying a Series

In [2]:
import pandas as pd
sports = {'Archery': 'Bhutan', 
         'Golf': 'Scotland',
         'Suno': 'Japan', 
         'Taekwondo': 'South Korea'}

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Suno               Japan
Taekwondo    South Korea
dtype: object

In [3]:
s.iloc[3]

'South Korea'

In [4]:
s.loc['Golf']

'Scotland'

In [5]:
s[3]

'South Korea'

In [6]:
s['Golf']

'Scotland'

In [8]:
sports = {99: 'Bhutan', 
         100: 'Scotland', 
         101: 'Japan', 
         102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [18]:
s.loc[100]

'Scotland'

In [19]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [20]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [21]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [22]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    407
1    606
2      0
3    618
4    489
dtype: int32

In [25]:
len(s)

10000

## Cellular magic function which begin with %% signs

In [27]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

4.76 ms ± 140 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [28]:
%%timeit -n 100
summary = np.sum(s)

397 µs ± 28.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [29]:
s += 2
s.head()

0    409
1    608
2      2
3    620
4    491
dtype: int32

In [38]:
for label, value in s.iteritems():
    s.at[label] += 2       ## set_value has been changed to at in the newest version of pandas
s.head()

0    411
1    610
2      4
3    622
4    493
dtype: int32

In [37]:
s.at[0]

409

In [39]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label] = value+2

2.26 s ± 559 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [40]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,10000))
s += 2

1.45 ms ± 155 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [41]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [43]:
original_sports = pd.Series({'Archery': 'Bhutan', 
         'Golf': 'Scotland',
         'Suno': 'Japan', 
         'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia', 
                                     'Barbados', 
                                     'Pakistan', 
                                     'England'], 
                                    index = ['Cricket', 
                                            'Cricket', 
                                            'Cricket', 
                                            'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [44]:
original_sports

Archery           Bhutan
Golf            Scotland
Suno               Japan
Taekwondo    South Korea
dtype: object

In [45]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [46]:
all_countries

Archery           Bhutan
Golf            Scotland
Suno               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object